.env
.idea/
bind9/cache/
bind9/log/
build/
homeassistant/*
!homeassistan/automations.yaml
!homeassistant/groups.yaml
!homeassistant/scenes.yaml
!homeassistant/scripts.yaml
!homeassistant/configuration.yaml
!homeassistant/modbus4mqtt_binary_sensor.yaml
!homeassistant/modbus4mqtt_sensor.yaml
!homeassistant/mqtt_esp_modules.yaml
!homeassistant/mqtt_relay_switches.yaml
mosquitto/config/mosquitto.password_file
mosquitto/data/
mosquitto/log/
mosquitto/ssl/
solariot/
credentials.yaml
