[Unit]
Description=Setup CAN Interfaces Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/bin/bash /docker/can-interfaces.sh > /docker/can-interfaces.log 2>&1

[Install]
WantedBy=multi-user.target
